[submodule "libs/PFNs4BO"]
	path = libs/PFNs4BO
	url = https://github.com/automl/PFNs4BO.git
[submodule "libs/PFNs"]
	path = libs/PFNs
	url = https://github.com/automl/PFNs.git
[submodule "libs/tabpfn-v1-prior"]
	path = libs/tabpfn-v1-prior
	url = https://github.com/automl/tabpfn-v1-prior.git
